body{
margin:0;
font-family:'Poppins',sans-serif;
background:#1a1a2e;
color:white;
}

.sidebar{
position:fixed;
left:0;
top:0;
width:230px;
height:100%;
background:#020617;
padding:25px;
border-right:2px solid #00d4ff;
}

.sidebar h2{
color:#00d4ff;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:18px 0;
transition:0.3s;
}

.sidebar a:hover{
color:#00d4ff;
}

.main{
margin-left:260px;
padding:40px;
}

.card{
background:#020617;
padding:25px;
border-radius:15px;
margin-bottom:25px;
border:1px solid #00d4ff;
box-shadow:0 0 15px #00d4ff44;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

button{
background:transparent;
border:2px solid #00d4ff;
padding:10px 20px;
color:white;
border-radius:30px;
cursor:pointer;
}

.console{
background:black;
height:220px;
padding:15px;
font-family:monospace;
overflow:auto;
}
