body{
margin:0;
background:#1a1a2e;
color:white;
font-family:Poppins,sans-serif;
}

.sidebar{
position:fixed;
left:0;
top:0;
width:220px;
height:100%;
background:#020617;
padding:20px;
border-right:2px solid #00d4ff;
}

.sidebar h2{color:#00d4ff}

.sidebar a{
display:block;
color:white;
margin:15px 0;
text-decoration:none;
cursor:pointer;
}

.sidebar a:hover{color:#00d4ff}

.main{
margin-left:250px;
padding:30px;
}

.card{
background:#020617;
padding:20px;
margin-bottom:20px;
border-radius:12px;
border:1px solid #00d4ff;
box-shadow:0 0 10px #00d4ff44;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

button{
background:transparent;
border:2px solid #00d4ff;
padding:10px 20px;
border-radius:30px;
color:white;
cursor:pointer;
}

.console{
background:black;
height:220px;
padding:10px;
font-family:monospace;
overflow:auto;
}
